<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skyport - Juego</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="/css/game.css" />

    <!-- Favicon -->
    <link rel="icon" href="/img/logoSkyPort.png" type="image/png" />
</head>
<body>
  <div class="game-container">
    <!-- Menú lateral -->
    <div class="sidebar">
      <a class="menu-item" href="../index.html">
        <img src="../../public/img/logoSkyPort.png" alt="SkyPort logo" class="logo-img" style="height:75px;">
      </a>
      <a class="menu-item" href="./social.html">Social</a>
      <a class="menu-item" href="./fleet.html">Flota</a>
      <a class="menu-item" href="./chat.html">Chat</a>
      <a class="menu-item" href="./missions.html">Misiones</a>
      <a class="menu-item" href="./market.html">Mercado</a>
      <a class="menu-item" href="./economy.html">Banco</a>
    </div>

    <!-- Zona de juego -->
    <div class="main-content">
      <div class="airport">
        <div class="hangar-area">
          <div class="hangar-block">
            <div class="hangar"></div>
            <div class="path"></div>
          </div>
          <div class="hangar-block">
            <div class="hangar"></div>
            <div class="path"></div>
          </div>
          <div class="hangar-block">
            <div class="hangar"></div>
            <div class="path"></div>
          </div>
          <div class="hangar-block">
            <div class="hangar"></div>
            <div class="path"></div>
          </div>
        </div>

        <!-- Pista horizontal -->
        <div class="horizontal-runway"></div>

        <!-- Pista vertical conectada al final de la horizontal -->
        <div class="vertical-runway"></div>
      </div>
    </div>
  </div>
</body>
</html>
