<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skyport - Juego</title>
  <link rel="icon" href="../../public/img/logoSkyPort.png" type="image/png">
  <link rel="stylesheet" href="../../public/css/game.css">
</head>
<body>
  <div class="game-container">
    <!-- Menú lateral -->
    <div class="sidebar">
      <a class="menu-item" href="../index.html">
        <img src="../../public/img/logoSkyPort.png" alt="SkyPort logo" class="logo-img" style="height:75px;">
      </a>
      <a class="menu-item" href="../game/social.html">Social</a>
      <a class="menu-item" href="../game/fleet.html">Fleet</a>
      <a class="menu-item" href="../game/chat.html">Chat</a>
      <a class="menu-item" href="../game/missions.html">Misiones</a>
      <a class="menu-item" href="../game/market.html">Mercado</a>
      <a class="menu-item" href="../game/economy.html">Banco</a>
    </div>

    <!-- Zona de juego -->
    <div class="main-content">
      <div class="airport">
        <div class="hangar-area">
          <div class="hangar-block">
            <div class="hangar"></div>
            <div class="path"></div>
          </div>
          <div class="hangar-block">
            <div class="hangar"></div>
            <div class="path"></div>
          </div>
          <div class="hangar-block">
            <div class="hangar"></div>
            <div class="path"></div>
          </div>
          <div class="hangar-block">
            <div class="hangar"></div>
            <div class="path"></div>
          </div>
        </div>

        <!-- Pista horizontal -->
        <div class="horizontal-runway"></div>

        <!-- Pista vertical conectada al final de la horizontal -->
        <div class="vertical-runway"></div>
      </div>
    </div>
  </div>
</body>
</html>
