<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skyport - Invitado</title>
  <link rel="stylesheet" href="../../public/css/game.css">
</head>
<body>
  <div class="game-container">
    <!-- Menú lateral -->
    <div class="sidebar">
      <a class="menu-item" href="../index.html">
        <img src="../../public/img/logoSkyPort.png" alt="SkyPort logo" class="logo-img" style="height:75px;">
      </a>
      <a class="menu-item" href="../explore/explore.html">Buscar</a>
      <a class="menu-item" href="../auth/register.html">Crear cuenta</a>
    </div>

    <!-- Zona de juego -->
    <div class="search-bar">
        <input type="text" id="userSearch" placeholder="Buscar usuarios..." class="search-input">
        <button type="button" class="search-button">Buscar</button>
    </div>

    
  </div>
</body>
</html>
